@import "tailwindcss";



/* Custom sidebar scrollbar */

.sidebar-scroll::-webkit-scrollbar {
  width: 8px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6366f1, #a855f7);
  border-radius: 20px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/* Firefox */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 transparent;
}
